.rodape {
    background-image: url(/public/imagens/fundo.png);
    background-color: #6278f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    background-repeat: no-repeat;
}

.descricao {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.links {
    display: flex;
    gap: 32px;
}
