.time {
    text-align: center;
    padding: 32px;
    background: #d9f7e9;
}

.time h3 {
    font-size: 32px;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.time .borda {
    border-bottom: 4px solid #57c278;
    width: 32px;
    margin: auto;
}

.time .lista {
    display: flex;
    gap: 24px;
}
